body {
    background: url("https://nemo.algebragame.app/img/bg-pattern.png"), linear-gradient(to left, #2165ae, #0091C9);
    margin: 0;
    padding: 0;
}

/* page font settings */
body, input {
    font-size: 16px;
    font-family: sans-serif;
}

tr, td {
    height: 60px;
    padding: 0 5px;
    margin: 0;
}

.headingTable {
    position: relative;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 15px;
}

#inputForm {
    height: 45px;
    padding-top: 10px;
}

#nemoBotLogo {
    height: 100%;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    padding-top: 6%;
    font-size: 50px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.contentContainer {
    text-align: center;
    margin: auto;
    min-width: max(100vw, 400px);
    min-height: 290px;
    height: calc(100vh - 60px);
}

.convoContainer {
    width: max(60vw, 300px);
    margin: auto;
    position: relative;
}

#sentMessages {
    background-color: white;
    border-radius: 3px;
    height: calc(100vh - 270px);
    min-height: 80px;
    overflow: scroll;
    padding: 15px 15px;
    border: 2px solid lightblue;
    scroll-behavior: smooth;
    transition: 1s;
}

#messageInput {
    border-top: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-right: none;
}

p {
    margin: 3px;
}

#messageInput {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: left;
    width: calc(270px - 20px);
    padding: 3px 8px;
    height: 18px;
    vertical-align: middle;
}

form {
    font-size: 0;
}

input:focus, #submitButton, #submitButton:focus{
    outline: none;
}

#submitButton {
    background-color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 28px;
    margin: 0;
    vertical-align: middle;
    width: 30px;

    border-top: 2px solid lightblue;
    border-left: none;
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
}

.message {
    clear: both;
    display: inline-block;
    word-wrap: break-word;
    max-width: 55%;
    text-align: left;
    padding: 6px 12px 3px 12px;
}

.message, .nemoBotButton {
    margin: 4px 0;
    font-size: 16px;
    border: none;
    line-height: 20px;
}

.userMessage {
    float: right;
    
    border-radius: 20px 20px 0 20px;
    background-color: #147efb;
    color: white;
/*    white-space: pre;*/
}

.nemoBotMessage {
    float: left;
    
    border-radius: 20px 20px 20px 0;
    background-color: #ddd;
    color: black;
}

.nemoBotButton {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 1px 1px;
    box-shadow: 1px 1px 2px #ddd;

    padding: 4px 10px;
}

.buttonGrid {
    clear: both;
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 10px 30px;
}

.nemoBotMedia {
    width: 250px;
}

.iconBar {
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 30px;
    line-height: 40px;
    color: white;
}

.fa-facebook-f, .fa-linkedin, .fa-question-circle {
    transition: 0.3s;
    width: 35px;
    height: 35px;
    color: white;
    text-decoration: none;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.fa-question-circle:hover {
    color: #d69160;
}

footer {
    color: white;
    position: relative;
    width: 100%;
    min-width: 400px;
    text-align: center;
    height: 30px;
    padding: 15px 0;
    font-size: 12px;
}

header {
    position: fixed;
    color: white;
    right: 0;
    top: 0;
}